.godot/
.idea/

*.import
*.translation

exports/
*.tmp

.DS_Store
Thumbs.db

*.log

builds/
*.apk
*.aab
*.ipa
*.pck
*.zip

.import/
default_env.tres

._*
.Spotlight-V100
.Trashes

*.csproj
*.sln
*.pidb
*.resources
*.suo
*.userprefs
